.boxed {
  width: 400px;
  height: 550px;
}

.boxed {
  border: 5px solid;
  border-image-slice: 1;
  border-color: rgb(189, 214, 236);
  padding: 5px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 5px 5px 7px 6px  rgb(238, 243, 247);
}