<div class="container">
  <h1 class="mt-5 mb-5">List Student</h1>
  <!--        <form >-->
  <!--        </form>-->
  <div class="mt-2">
    <table class="table table-bordered table-primary table-striped">
      <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Tuổi</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of students | paginate: {itemsPerPage: 3, currentPage: pageNumber}; index as i">
        <td>{{(pageNumber - 1) * 3 + i + 1}}</td>
        <td>{{x.name}}</td>
        <td>{{x.age}}</td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
    <!--    <nav aria-label="..." class="justify-content-center d-flex">-->
    <!--      <ul class="pagination">-->
    <!--        <li class="page-item">-->
    <!--          <a class="page-link" (click)="previous()" *ngIf="currentPage > 1">&laquo; Prev</a>-->
    <!--        </li>-->
    <!--        <li class="page-item disabled" *ngIf="currentPage <= 1">-->
    <!--          <a class="page-link">&laquo;</a>-->
    <!--        </li>-->

    <!--        <li class="page-item"><a class="page-link disabled" [text]="currentPage + ' / ' + totalPage"-->
    <!--                                 *ngIf="currentPage <= totalPage"></a>-->
    <!--        </li>-->

    <!--        <li class="page-item">-->
    <!--          <a class="page-link" (click)="next()" *ngIf="currentPage < totalPage">Next &raquo;</a>-->
    <!--        </li>-->
    <!--        <li class="page-item disabled" *ngIf="currentPage >= totalPage">-->
    <!--          <a class="page-link">&raquo;</a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </nav>-->
  </div>

</div>
