.boxed {
  width: 300px;
  height: 500px;
}

.boxed {
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #ffa400, #ff6bcb);
  padding: ;
  border-radius: 20px;
}