.LichKS {
  background: url(../images/Calendar.png) no-repeat left top;
}
.pageCaption {
  height: 32px;
  color: #0e5fe4;
  font-size: 22px;
  padding: 2px 0;
  font-weight: bold;
  padding-left: 40px;
}
div {
  display: block;
} 
element.style {
  margin-right: auto;
  margin-left: auto;
}
.GreyBox {
  border: 1px solid #c5c5c5;
  background: #ffffff;
  color: #333333;
  position: relative;
  padding: 2px 2px 3px 3px;
}
html, body, #formbody {
  font-size: 12px;
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000000;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
.GridHeader {
  height: 26px;
  text-align: center;
  border-top: solid 1px #d0dee9;
  border-bottom: solid 1px #d0dee9;
  background: #eaf0f5 url(../Styles/images/GridHeaderBG.png) repeat-x;
}
.GridRow, .GridRowHident {
  height: 23px;
  padding: 2px 2px 2px 4px;
  border: solid 1px #d0dee9;
  background: #FFFFFF;
  display: table-row;
}
style attribute {
  width: 100%;
  border-collapse: collapse;
}