@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Noto Sans', serif !important;
  box-sizing: border-box !important;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}

body {
  width: 100vw;
  height: 100vh;
}

.boxed {
  width: 400px;
  height: 550px;
  border: 5px solid;
  border-image-slice: 1;
  border-color: rgb(189, 214, 236);
  padding: 5px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 4px 2px 4px 1px  rgb(238, 243, 247);
  background-color: rgb(238, 243, 247) !important;
}

button {
  width: 200px;
  border-radius: 20px;
}

.auction {
  height: 920px;
  margin: auto 0;
  display: flex;
  box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.35);
  background-image: url("https://media.istockphoto.com/id/934890574/photo/law-and-justice-concept.jpg?s=612x612&w=0&k=20&c=RAo4rrJPoTJjz2QRWrKr-Z68H2Xg8XjnIbyIBaVDQ0k=");
  background-color: white;
  background-size: cover;
  
  border-radius: 20px
}

label, p {
  margin: 0 !important;
}

.slide {
	animation: slide 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-iteration-count: infinite;
  animation-delay: 0.2;
}

@keyframes slide {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(1px);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(2px);
  }
  40% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-1px);
  }
  70% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}

.form-control {
    border: 1px solid #eee;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: 0.25s ease;
}

.form-control:focus {
  border-color: #6a5af9;
}

.form-field {
  position: relative;
}