#wrapper {
  right: 0;
  margin: 0 auto;
  display: block;
  width: 960px;
}

#border-pagination {
  margin: 0 auto;
  padding: 0;
  text-align: center
}

#border-pagination li {
  display: inline;
}

#border-pagination li a {
  display: block;
  text-decoration: none;
  color: red;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: white;
  float: left;

}

#border-pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}

#border-pagination li a.active {
  background-color: deepskyblue;
  color: #fff;
}

#border-pagination li a:hover:not(.active) {
  background: deepskyblue;
}
.main {
  padding: 32px 0;
  min-height: auto;
}
