<div class="row">
  <div class="col-12">
    <div class="card border-primary">
      <h3 class="card-header bg-primary">Form Create Product</h3>
      <div class="card-body">
        <form
          [formGroup]="productForm"
          (ngSubmit)="submit()"
          autocomplete="off"
        >
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="name"
              [ngClass]="
                productForm.controls['name'].touched
                  ? productForm.controls['name'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              "
            />
            <div class="invalid-feedback">
              <div
                *ngIf="
                  productForm.controls['name'].hasError('required') &&
                  productForm.controls['name'].touched
                "
              >
                Please enter a name.
              </div>
              <div
                *ngIf="
                  productForm.controls['name'].hasError('minlength') &&
                  productForm.controls['name'].touched
                "
              >
                A name's min length is 5 characters.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              formControlName="description"
              type="text"
              class="form-control"
              id="description"
              [ngClass]="
                productForm.controls['description'].touched
                  ? productForm.controls['description'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              "
            />
            <div class="invalid-feedback">
              <div
                *ngIf="
                  productForm.controls['description'].hasError('required') &&
                  productForm.controls['description'].touched
                "
              >
                Please enter the description.
              </div>
              <!-- <div
                *ngIf="
                  productForm.controls['description'].hasError('min') &&
                  productForm.controls['description'].touched
                "
              >
                Min age is 18.
              </div>
              <div
                *ngIf="
                  productForm.controls['description'].hasError('max') &&
                  productForm.controls['description'].touched
                "
              >
                Max age is 100.
              </div> -->
            </div>
          </div>

          <!-- <div class="mb-3">
            <p class="form-label">Gender</p>
            <div>
              <input formControlName="gender" type="radio" value="0" />
              <label class="form-label">Male</label>
            </div>
            <div>
              <input formControlName="gender" type="radio" value="1" />
              <label class="form-label">Female</label>
            </div>
            <div>
              <input formControlName="gender" type="radio" value="2" />
              <label class="form-label">Others</label>
            </div>
          </div>
      
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <select
              formControlName="country"
              type="text"
              class="form-control"
              id="country"
            >
              <option value="Viet Nam">Viet Nam</option>
              <option value="America">America</option>
              <option value="Korea">Korea</option>
              <option value="France">France</option>
            </select>
          </div> -->

          <!-- <div class="mb-3">
            <label for="phone" class="form-label">Phone number</label>
            <input
              formControlName="phone"
              type="text"
              class="form-control"
              id="phone"
              [ngClass]="
                productForm.controls['phone'].touched
                  ? productForm.controls['phone'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              "
            />
            <div class="invalid-feedback">
              <div
                *ngIf="
                  productForm.controls['phone'].hasError('required') &&
                  productForm.controls['phone'].touched
                "
              >
                Please enter the phone .
              </div>
              <div
                *ngIf="
                  productForm.controls['phone'].hasError('pattern') &&
                  productForm.controls['phone'].touched
                "
              >
                Wrong phone number format.
              </div>
            </div>
          </div> -->

          <!-- <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                [ngClass]="
                  rfForm.controls['email'].touched
                    ? rfForm.controls['email'].invalid
                      ? 'is-invalid'
                      : 'is-valid'
                    : ''
                "
              />
              <div class="invalid-feedback">
                <div
                  *ngIf="
                    rfForm.controls['email'].hasError('required') &&
                    rfForm.controls['email'].touched
                  "
                >
                  Please enter the email.
                </div>
                <div
                  *ngIf="
                    rfForm.controls['email'].hasError('pattern') &&
                    rfForm.controls['email'].touched
                  "
                >
                  Wrong email format.
                </div>
              </div>
            </div>
          </div>
      
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputConfirmPassword1" class="form-label"
              >Confirm Password</label
            >
            <input
              formControlName="confirmPassword"
              type="password"
              class="form-control"
              id="exampleInputConfirmPassword1"
              [ngClass]="
                rfForm.hasError('reconfirmPassword') ? 'is-invalid' : 'is-valid'
              "
            />
            <div
              *ngIf="rfForm.hasError('reconfirmPassword')"
              class="invalid-feedback"
            >
              Confirm password does not match.
            </div>
          </div> -->
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!productForm.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
